<div class="form-group">
    <label><# s.verb_name or s.name #></label>
    {% if adminUser.roleRate > 30 %}
        <input type="text" name="<# s.name #>" disabled placeholder="Upload image" value="<# data[0][s.name] #>">
    {% else %}
        <div id="upload-component-<# s.name #>">
            <div v-if="image" class="uploaded-image">
                <img :src="image">
            </div>
            <div class="input-button-group">
                <input type="text" name="<# s.name #>" placeholder="Upload image" value="<# data[0][s.name] #>">
                <button type="button" class="btn btn-danger" v-if="image != ''" @click="deleteImage()">delete</button>
                <button type="button" class="btn btn-default">upload<input ref="ref-<# s.name #>" type="file" value="" @change="uploadFile('<# s.name #>')"></button>
            </div>
        </div>
    {% endif %}
</div>

<script>
    new Vue({
        el: '#upload-component-<# s.name #>',
        data: {
            {% if data[0][s.name] %}
            image: <# (data[0][s.name] | dump | safe) #>
            {% else %}
            image: ''
            {% endif %}
        },
        methods: {
            uploadFile: function(field) {
                let data = new FormData()
                data.append('upload', this.$refs['ref-' + field].files[0])
                data.append('model', '<# query.model #>')
                data.append('field', field)

                axios.post('/admin/api/v1/data/image', data).then((res) => {
                    let data = res.data
                    $('input[name="<# s.name #>"]').val(data.url)
                    this.image = data.url
                })
                .catch((err) => {
                    console.log(err)
                })
            },
            deleteImage: function() {
                if (confirm('Delete image?')) {
                    $('input[name="<# s.name #>"]').val('')
                    this.image = ''
                }
            }
        }
    })
</script>