{% extends './layout.njk' %}

{% block content %}
<div class="text-center">
    <div class="alert alert-danger" role="alert">
    <# message #>
    </div>
    <a href="<# refLink #>">Return to previous page</a>
</div>
{% endblock %}