<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Titillium+Web:200" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="/admin/static/build/css/build.css?v=<# version #>">
        <script src="/admin/static/build/scripts/libs.js?v=<# version #>"></script>
        <script src="/admin/static/build/scripts/build.js?v=<# version #>"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
